# Node
node_modules/
dist/
build/

# Environment
.env
.venv/
venv/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo
*.iml

# Heavy ML/Data Files
face_rec_service/models/
face_rec_service/data/
face_rec_service/cache/

# Optional
*.onnx
*.pth
*.pt
*.h5
*.pkl